<div class="panel panel-info comments">
  <div class="panel-heading">
    <p><%= comment.user.email %></p>  
  </div>
  
  <div class="panel-body">
    <p><%= comment.body %></p>
  </div>
  
</div>


